# Vs code
.vscode/

# Python
__pycache__/

*.csv

# stm32
.metadata/
.settings/
Drivers/
Debug/
Startup/

*.ld
*.launch
*.ioc
*.launch
*.project
*.mxproject
*.cproject


c_control_alg_test.c
output/
ControllerDesign/control_agl_test.asv
ControllerDesign/control_agl_test.m